 .bg-image {
        background-image: url('/Pluralsight/Projects/Workbook1/Capstone1/images/background-arrow.jpg') ;/* Add your image URL here */ 
  
     background-size: cover; /* This will make sure your image is covered, respecting the aspect ratio */
        background-position: center; /* This will center the image */
        height: 100vw; /* Set the height you want */
        width: 100%; /* Set the width you want */
    }
   