 /* this code applied to 2 pages: registration and and login page as well */
 .bg-image {
    background-image: url('/images/background-arrow.jpg');
    /* Add your image URL here */

    background-size: cover;
    /* This will make sure your image is covered, respecting the aspect ratio */
    background-position: center;
    /* This will center the image */
    height: 850px;
    /* Set the height you want */
    width: 100%;
    /* Set the width you want */
 }


 /* .border-form
{
   border: 2px solid black;
}

 */










 /* TEST not working code. */
 /* changing size of background image */
 .bg-imageTEST {
    background-image: url('/Pluralsight/Projects/Workbook1/Capstone1/images/background-arrow.jpg');
    /* Add your image URL here */

    background-size: cover;
    /* This will make sure your image is covered, respecting the aspect ratio */
    background-position: center;
    /* This will center the image */
    height: 200px;
    /* Set the height you want */
    width: 50%;
    /* Set the width you want */
 }